
/* BANNER */
.banner{
  width: 100vw;
  padding: 15% 5% 8% 5%;
}
.banner h1{
  text-align: center;
  font-family:"Playfair Display";
  padding: 10px;
}

/* Gallery */
.gallery-container {
  max-width: 1700px;
  margin: auto;
  column-count: 4;
  column-gap: 0.75rem;
  padding: 0.75rem;
}

.gallery figure {
  break-inside: avoid;
  margin-bottom: 0.75rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery figure:hover {
  transform: scale(1.02);
}

.gallery figure:hover figcaption{
  opacity: 100;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  font-size: 0.9rem;
  background: linear-gradient(transparent, rgba(0,0,0,0.8));
  opacity: 0;
  text-align: center;
}


/* Responsive */
@media (max-width: 900px) {
  .gallery-container {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .gallery-container {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .gallery-container {
    column-count: 1;
  }
}